html, body {
    color: white;
    background-color: rgb(13, 13, 24);
    font-family: fantasy;
    overflow-y: hidden;
    height: 100%;
}

nav {
    height: 128px;
    width: 100%;
    background: rgb(13, 13, 24);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

#wrapper {
    width: 80vw;
    height: 100%;
    background: rgb(13, 13, 24);
    margin: 0 auto;
}

#nav_container{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 128px;
}

.nav_buttons{
    width: 15%;
    height: 104px;
    margin: 12px 12px;
    background: url("../images/button_bg.png");
    filter: blur(5px);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 
    0 0 30px rgb(255, 172, 17), 0 0 40px rgb(255, 172, 17),
     0 0 50px #FF1177;
}

.nav_buttons:hover{
    filter: blur(1px);
}

.selected_neon{
    margin: auto 5%;
    width: 25%;
    opacity: 1;
    filter: blur(0px);
}