@font-face{
    font-family: weeb-troll-font;
    src: url(electroharmonix.ttf);
}
@font-face{
    font-family: custom-normal;
    src: url(GeosansLight.ttf);
}
body{
    zoom: 1;
    transform: scale(1.0);
    transform-origin: 0 0;
    background: black;
}

.wrapper{
    opacity: 0;
    font-family: custom-normal;
    max-width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    background: black;
}

.background{
    background: url("imgs/bg.jpg");
    background-repeat: no-repeat;
    position: fixed;
    transform-origin: 0 0;
    top: 0px;
    transform: scale(1);
    filter: blur(4px);
    position: fixed;
    width: 100%;
    height: 100%;
    background-position-x: 30%;
    background-position-y: 40%;
}

.main_sector{

    height: 979px;
}

.info{
    position: relative;
    height: 100%;
    width: 100%;
}

.panel{
    opacity: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
}

.anchor_panel{
    position: absolute;
    z-index: 1;
    color: white;
    width: 100%;
    height: 128px;
    top: 0;
    display: inline-flex;
    justify-content: center;
}
.anchor_line{
    position: absolute;
    top: 96px;
    width: 80%;
    height: 2px;
    background: white;
    transition: transform 0.5s ease;
    will-change: all;
    box-shadow: 8px 16px 4px rgba(255, 165, 29, 0.384);
}
.anchor_panel:hover > .anchor_line{
    transform: scaleX(0.5);
}

.anchor_panel ul{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 0;
}
.anchor_panel li{
    margin: auto 3%;
    font-size: 18px;
    text-align: center;
    text-shadow: 12px 6px 4px rgba(255, 165, 29, 0.384);
    transition: text-shadow 0.5s ease;
    will-change: text-shadow;
}

.anchor_panel li:hover{
    text-shadow: 8px 4px 2px rgba(255, 221, 158, 0.829);
}

.info_texts{
    position: relative;
    top: 128px;
    width: 80%;
    margin: 0 auto;
    height: 128px;
    color: white;
}

.header_container{
    height: 100%;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.header_text{
    height: 0px;
    opacity: 0;
    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: start;
    flex-direction: column;
    transition: all 0.5s ease;
    will-change: all;
}

.header_main{
    height: 96px;
    opacity: 1;
}

.info_header{
    position: relative;
    font-size: 48px;
    width: 256px;
    height: 48px;
    margin: 0 auto;
    text-shadow: 24px 12px 4px rgba(255, 165, 29, 0.384);
    transition: text-shadow 0.5s ease;
    will-change: text-shadow;
}
.info_header:hover{
    text-shadow: 6px 6px 2px rgba(255, 165, 29, 0.384);
}
.info_header:hover ~ .info_desc{
    height: 48px;
    opacity: 1;
}
.info_desc{
    position: relative;
    font-size: 24px;
    width: 100%;
    opacity:0;
    height: 0px;
    overflow: hidden;
    text-shadow: 6px 6px 2px rgba(255, 165, 29, 0.384);
    transition: all 0.5s ease;
    will-change: all;
}

.main_content{
    height: 100%;
    margin: auto 5%;
    top: 84px;
    position: relative;
}

.texts_container{
    width: 100%;
    height: 360px;
    display: inline-flex;
    flex-direction: column;
    padding-bottom: 20px;
    top: 16px;
    position: relative;
}

.texts_container a{
    color: dodgerblue;
}

.content_texts{
    color: white;
    width: 100%;
    height: 0px;
    font-size: 20px;
    position: relative;
    opacity: 0;
    text-align: center;
    transition: all 0.75s ease;
    will-change: all;
    overflow: hidden;
}

.main_text{
    height: 100%;
    opacity: 1;
}

.content_slideshow{
    position: relative;
    top: 48px;
    width: 100%;
    height: 300px;
}

.content_offset{
    height: inherit;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.slide{
    object-fit: cover;
    width: 100%;
    height: 33.3%;
    opacity: 0.5;
    z-index: 0;
    transition: all 0.5s ease;
    overflow: hidden;
    box-shadow: 12px 6px 8px rgba(58, 35, 0, 0.384);
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5 ease;
}
.slide:hover{
    opacity: 1;
    z-index: 3;
    height: 90%;
    width: 100%;
    box-shadow: 0px 6px 4px rgba(70, 47, 16, 0.25);
}

.social{
    width: 24px;
    height: 24px;
    position: absolute;
}