@font-face{
    font-family: weeb-troll-font;
    src: url(electroharmonix.ttf);
}
@font-face{
    font-family: custom-normal;
    src: url(GeosansLight.ttf);
}
body{
    zoom: 1;
    transform: scale(1.0);
    transform-origin: 0 0;
}

.wrapper{
    opacity: 0;
    font-family: custom-normal;
    max-width: 1920px;
    margin: auto;
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    padding: 0px;
    background: white;
}

.main_sector{
    background: url("imgs/main_bg2.png");
    background-repeat: no-repeat;
    height: 979px;
}

.anchor_panel{
    position: absolute;
    top: 114px;
    left: 75%;
    z-index: 1;
    color: white;
    width: 256px;
    height: 480px;
    display: inline-flex;
    justify-content: center; 
}

.anchor_line{
    width: 2px;
    height: 420px;
    background: white;
    margin: 32px 0px;
    transition: transform 0.5s ease;
    will-change: all;
    box-shadow: 16px 32px 8px rgba(255, 165, 29, 0.384); 
}

.anchor_panel:hover > .anchor_line{
    transform: scaleY(0.5);
}

.anchor_panel ul{
    position: relative;
    top: 32px;
    margin: 0;
}
.anchor_panel li{
    font-size: 24px;
    margin: 64px 72px;
    margin-right: 32px;
    text-shadow: 32px 16px 4px rgba(255, 165, 29, 0.384);
    transition: text-shadow 0.5s ease;
    will-change: text-shadow;
}

.anchor_panel li:hover{
    text-shadow: 8px 4px 2px rgba(255, 221, 158, 0.829);
}

.info{
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.info_texts{
    margin-top: 128px;
    height: 64px;
    color: white;
}

.header_container{
    height: 116px;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
}

.header_text{
    height: 0px;
    opacity: 0;
    width: 770px;
    display: inline-flex;
    transition: all 0.5s ease;
    will-change: all;
}

.header_main{
    height: 58px;
    opacity: 1;
}

.info_header{
    font-size: 48px;
    position: relative;
    width: 256px;
    text-shadow: 32px 16px 4px rgba(255, 165, 29, 0.384);
    transition: text-shadow 0.5s ease;
    will-change: text-shadow;
}
.info_header:hover{
    text-shadow: 6px 6px 2px rgba(255, 165, 29, 0.384);
}
.info_header:hover ~ .info_desc{
    width: 512px;
    opacity: 1;
}
.info_desc{
    font-size: 24px;
    position: relative;
    margin-top: 20px;
    width: 0;
    opacity: 0;
    height: 26px;
    overflow: hidden;
    text-shadow: 6px 6px 2px rgba(255, 165, 29, 0.384);
    transition: all 0.5s ease;
    will-change: all;
}

.panel{
    position: relative;
    height: 592px;
    width: 87%;
    margin-left: 10%;
}

.main_content{
    height: 100%;
}

.texts_container{
    width: 40%;
    height: inherit;
    position: absolute;
    display: inline-flex;
    flex-direction: column;
}

.texts_container a{
    color: dodgerblue;
}

.content_texts{
    color: white;
    width: 100%;
    height: 0px;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    top: 30%;
    opacity: 0;
    transition: all 0.75s ease;
    will-change: all;
}

.main_text{
    height: 100%;
    opacity: 1;
}

.content_slideshow{
    position: absolute;
    left: 41%;
    width: 35%;
    height: 100%;
}

.content_offset{
    position: absolute;
    height: inherit;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.5 ease;
}

.slide{
    object-fit: cover;
    width: 100%;
    height: 33%;
    opacity: 0.25;
    z-index: 0;
    box-shadow: 4px 4px 8px rgba(58, 35, 0, 0.384);
    transition: all 0.5s ease;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5 ease;
}
.slide:hover{
    opacity: 1;
    z-index: 3;
    height: 60%;
    width: 112.5%;
    transform: translate(-5%, 0px);
    box-shadow: 12px 24px 8px rgba(70, 47, 16, 0.25);
}

.social{
    width: 24px;
    height: 24px;
    position: absolute;
}